# ignore dist folder:
builds/
dist/
prod/


data/lex/rus/

src/**/*.js
src/**/*.map
src/libs/_libs_.js
src/libs/_libs_.map

# include:
!src/libs/**/*.js
!src/main.js

# ignore temp office files:
~$*.xlsx
~$*.docx